* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden; 
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

/* Barra lateral */
.sidebar {
  width: 260px; 
  background-color: #ffffff;
  padding: 25px; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ddd; 
}

.sidebar-title {
  font-size: 1.8em; 
  text-align: center;
  margin-bottom: 30px; 
  color: #333;
}

.menu, .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  padding: 15px 25px; 
  cursor: pointer;
  color: #333;
  font-size: 1.1em; 
  transition: background-color 0.3s;
}

.menu-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.menu-item:hover {
  background-color: #f7f7f7; 
}

.menu-item.active {
  background-color: #24BFA4; 
  color: #fff;
  border-radius: 8px; 
}

.menu-icon {
  margin-right: 15px;
  font-size: 1.4em; 
  color: #555;
}

.logout-section {
  margin-top: auto; 
}

.logout-button {
  padding: 12px 25px; 
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  font-size: 1.1em; 
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #555; 
}

  /* Contenido principal */
  .main-content {
    flex: 1;
    background-color: #24BFA4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Logo y texto */
  .logo {
    text-align: center;
    color: #004d40;
  }
  
  .logo h1 {
    font-size: 5em;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
  }
  
  .logo p {
    font-size: 1.2em;
    margin-top: -10px;
    color: #004d40;
  }
  